@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }


  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }
  
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/pt-sans-italic.woff2") format("woff2");
  }


  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }


  /* PT Sans Narrow */
@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2");
    font-display: swap;
  }

  body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: #fbf7f4;
  }


  .page-header {
      color: #000000;
      background-color: #ffffff;
  }

  .navigation-link {
    font-family: "PT Sans", sans-serif;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }

  .navigation-link-want {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756257;
  }

  .main-index {
      color: #000000;
      background-color: #ffffff;
      background-image: url("../images/index-bg.jpg");
      background-size: 100% auto;
      background-repeat: no-repeat;
  }

  .main-inner {
      color: #000000;
      background-color: #ffffff;
      background-image: url("../images/landscape-2.jpg");
      background-size: 100% auto;
      background-repeat: no-repeat;
  }

  .inner-header-title {
      font-family: "PT Sans", sans-serif;
      font-size: 60px;
      line-height: 78px;
      color: #ffffff;
      background-color: #000000;
      font-weight: 700;
  }

  .tagline {
      text-align: center;
  }

  .advantages-list {
      text-align: center;
  }

  .advantages-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    background-color: #000000;
  }

  .catalog-filter-input {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #ffffff;
    background-color: #000000;
  }

  .button-apply {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    background-color: #83B3D3;
    text-transform: uppercase;
  }

  .button-reset {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #ffffff;
  }

  .advantages-number {
    font-size: 18px;
    line-height: 21px;
  }

  .advantages-description {
      font-size: 18px;
      line-height: 21px;
  }

  .advantages-name {
      font-family: "PT Sans" , sans-serif;
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      text-transform: uppercase;
  }

  .hotel-search {
      text-align: center;
  }

  .hotel-title {
      font-size: 30px;
      line-height: 36;
      font-weight: 700;
      text-transform: uppercase;
  }

  .mailing-list {
      text-align: center;
      background-image: url("../images/landscape-3.jpg");
      background-size: 100% auto;
      background-repeat: no-repeat;
  }

  .mailing-list-title {
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
      text-transform: uppercase;

  }

  .mailing-list-description {
      font-size: 22px;
      line-height: 26px;
  }

  .page-footer {
    color: #000000;
    background-color: #ffffff;
}

  .footer-contacts {
      text-align: center;
  }

  .footer-contacts-phone {
      font-size: 40px;
      line-height: 40px;
      color: #000000
  }

  .inner-header-title {
      font-size: 60px;
      line-height: 78px;
      color: #FFFFFF;
  }

  .breadcrumbs {
      color: #ffffff;
  }

  .breadcrumb-link {
      font-family: "PT Sans", sans-serif;
      font-size: 16px;
      line-height: 21px;
      font-weight: 400;
      color: #ffffff;
      background-color: #000000;
      text-decoration: none;
  }

  .control-label {
      font-weight: 700;
  }

  .sort-method-title {
      font-family: "PT Sans", sans-serif;
      font-size: 30px;
      line-height: 39px;
  }

  .button-light {
      color: #333333;
      background-color: #ffffff;
  }

  .hostel-card--link {
      background-color: #ffffff;
  }

  .hostel-card-title {
      font-weight: 700;
      color: #000000;
  }

  .hostel-card-type {
      font-size: 18px;
      line-height: 23px;
      font-weight: 400;
      color: #333333;
  }

  .hostel-card-rating {
      font-size: 16px;
      line-height: 21px;
      color: #333333;
  }

  .hostel-card-button {
      font-family: "PT Sans", sans-serif;
      font-size: 16px;
      line-height: 21px;
      font-weight: 700;
      color: #ffffff;
      background-color: #756257;
      text-decoration: none;
      text-transform: uppercase;
  }

  .hostel-card-to-favorites-button {
      font-family: "PT Sans", sans-serif;
      font-size: 16px;
      line-height: 21px;
      font-weight: 700;
      color: #ffffff;
      background-color: #83B3D3;
      text-decoration: none;
      text-transform: uppercase;
  }

  .hostel-card-in-favorites-button {
      font-family: "PT Sans", sans-serif;
      font-size: 16px;
      line-height: 21px;
      font-weight: 700;
      color: #ffffff;
      background-color: #7DB54F;
      text-decoration: none;
      text-transform: uppercase;
  }

  .pagination-load-more {
      font-family: "PT Sans", sans-serif;
      font-size: 20px;
      line-height:26px;
      font-weight: 700;
      color: #ffffff;
      background-color: #83B3D3;
      text-align: center;
      text-transform: uppercase;
  }

  .pagination-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height:26px;
    font-weight: 700;
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
    text-transform: uppercase;
  }

  .pagination-current {
    color: #000000;
    background-color: #ffffff;
  }

  .hotels-page {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height:23px;
    font-weight: 400;
    color: #333333;
  }

  .mailing-list-button {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height:26px;
    font-weight: 700;
    color: #ffffff;
    background-color: #83B3D3;
  }